# Dependencies
/node_modules

# Editors
!.vscode/extensions.json
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.idea
.vscode/*
/.idea
/.vscode

# Logs
*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_*
.DS_Store

# Production
/build

# React
**/*.back.*
**/*.backup.*
*.local
.env.development.local
.env.local
.env.production.local
.env.test.local
dist
dist-ssr
node_modules

# Testing
/coverage